.default-text-box {
  border: #ffffff solid 2px;
  border-radius: 62px;
  background-color: #232323;
}

.heading-4 {
  font-size: 64px;
}

.paragraph-font {
  font-family: "Source Sans 3", sans-serif;
}

.display-font {
  font-family: "Montserrat", sans-serif;
}

.background-contrast-color {
  color: #0000;
}

.background-color {
  color: #0b0b0b;
}

.text-color {
  color: #ffffff;
}

.secondary-color {
  color: #585858;
}

.primary-color {
  color: #232323;
}

.accent-color {
  color: #a2a2a2;
}

.background-contrast-color-background {
  background-color: #0000;
}

.background-color-background {
  background-color: #0b0b0b;
}

.text-color-background {
  background-color: #ffffff;
}

.secondary-color-background {
  background-color: #585858;
}

.primary-color-background {
  background-color: #232323;
}

.accent-color-background {
  background-color: #a2a2a2;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #0b0b0b;
}

#navbar-background {
  background-color: #232323;
  border-bottom: rgba(96, 224, 255, 0.639) solid 2px;
}

#logo img {
  width: 80px;
  height: 80px;
}

.topnav-container {
  display: flex;
  flex-flow: row nowrap;
}

@media (min-width: 1000px) {

  .heading-size-change {
    font-size: 30px;
  }
}

@media (min-width: 790.98px) {

  .heading-size-change {
    font-size: 20px;
  }
}

@media (max-width: 790.98px) {

  .heading-size-change {
    font-size: 15px;
  }

  #logo img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 662px) {
  .topnav-container {
    width: 100%;
    justify-content: flex-start;
  }

  .heading-size-change {
    font-size: 14px;
  }

  #logo img {
    width: 54px;
    height: 54px;
  }

  #logo-container {
    padding-right: 0%;
  }
}

@media (min-width: 662px) {
  #logo-container {
    padding-right: 10%;
  }

  .topnav {
    justify-content: center;
    width: 40%;
  }
}

.topnav {
  overflow: hidden;
  height: 15%;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  top: 0;
}

.topnav a {
  float: left;
  color: #bbdaec;
  text-align: center;
  text-decoration: none;
  display: block;
}

.skeuomorphic-buttons-navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  height: 75px;
  outline-offset: 1px;
  margin-left: 10px;
}

.skeuomorphic-buttons-navbar a.skeuomorphic-buttons {
  display: flex;
  padding: 10px 10px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}

.skeuomorphic-buttons {
  cursor: pointer;
  color: #CDEDFF;
  font-weight: 700;
  transition: color 1s ease-out;
}

.skeuomorphic-buttons:hover {
  cursor: pointer;
  color: #a2a2a2;
}

.container-xl {
  border-radius: 20px;
  margin-top: 10px;
  background-color: #ffffff;
  border: #2a3a45 ridge 10px;
}

.top-row {
  margin-top: 25px;
  margin-bottom: 80px;
  background-color: #CDEDFF;
  font-size: 70px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 768px) {
  #navbar-container {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  #logo {
    margin-top: 10px;
  }
}


@media (min-width: 870px) {
  #logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-nav {
    width: max(1600px, calc(70% + 100px));
  }

  .heading-size-change {
    font-size: 40px;
  }
}

@media (max-width: 870px) {
  #logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  #navbar-container {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  #logo {
    margin-bottom: 10px;
  }

  .skeuomorphic-buttons-navbar a.skeuomorphic-buttons {
    display: flex;
    text-align: center;
    font-size: 25px;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 1000px) {

  #logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.homepage-position {
  position: absolute;
  padding-top: 100px;
  z-index: 10;
  width: 100%;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
}

#Homepage {
  background-color: #0b0b0b;
}

.navbar-brand {
  margin-right: -10px;
}

h1,
p {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #bbdaec;
}

p {
  font-size: 20px;
  margin: 30px;
  padding: 30px;
}

h1 {  
  padding-top: 10px;
}

hr {
  background-color: rgb(96, 224, 255);
  height: 4px;
  width: 450px;
  border-radius: 5px;
  opacity: 0.8;

}

#header {
  margin-bottom: 50px;
  margin-top: 25px;
}

p a {
  color: #686868;
  font-weight: 500;
  transition: 1s ease;
  text-decoration: none;
}

p a:hover {
  color: #ffffff;
  font-weight: 900;
}

.squarefree {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  background-color: #0b0b0b;
  text-align: center;
  font-weight: 600;
  color: #CDEDFF
}

.tableButton {
  transition: 0.5s ease;
  color: black;
  font-weight: 700;
}

.tableButton:hover {
  background-color: #1B1B1B;
  color: rgb(96, 224, 255);
}

.selected {
  background-color: #1B1B1B;
  color: rgb(96, 224, 255);
}

#bingotable {
  margin: 0 auto;
  text-align: center;
  width: 800px;
  height: 600px;
  border-collapse: collapse;
  background-color: #bbdaec;
  table-layout: fixed;
}

td {
  text-align: center;
  border: 3px solid black;
  width: 100px;
  height: 100px;
  font-size: 17px;
}

tr {
  width: 75%;
}

.orange {
  background: #1c1c1c;
  color: rgb(96, 224, 255);
  margin: 30px;
  text-align: center;
  border: 3px solid black;
  height: 125px;
  font-size: 30px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0b0b0b;
}

::-webkit-scrollbar-thumb {
  background: rgb(68, 159, 182, 0.639);
  border-radius: 3.5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(96, 224, 255, 0.639);
}